*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    color: yellow;
    font-weight: bold;
    font-family: sans-serif;
    margin-right: 20px;
    text-decoration: none;
}
ul {
    color: yellow;
    margin-top: 4%;
    margin-right: 20px;
    margin-left: 40px;
    font-weight: bold;
    font-size: xx-large;
}
body{
    background-color: black;
}
#JV{
    border: 20px solid yellow;
    color: white;
    text-align: center;
    padding: 5%;
    font-weight: bold;
    font-size: xx-large;
    margin-left: 5%;
    margin-right: 60%;
    margin-top: 5%;

    cursor: pointer;

}
#JV:hover{
    transition: ease-in-out;
    transition: 1.2s;
    cursor: pointer;
}